# Eliminate all files under processed except tab_fig / analysis directories and any nested READMEs
processed/*
scratch/*
!processed/README.md
!processed/**/README.md
doc/exampleplots/*

# Eliminate ~ files
*~

# Eliminate .nfs files
.nfs*

# Eliminate .log files
*.log

# Eliminate .pyc files
*.pyc
*.lastlogin
**/easyqc_libraries/*
bin/*
lib/
pyvenv.cfg
lib64
**/__pycache__/**
.pversion
