# Eliminate all files under processed except tab_fig / analysis directories and any nested READMEs
processed/*
scratch/*
!processed/README.md
!processed/**/README.md

# Eliminate ~ files
*~

# Eliminate .nfs files
.nfs*

# Eliminate .log files
*.log

# Eliminate .pyc files
*.pyc

*.lastlogin
**/easyqc_libraries/*
bin/*
lib/
snipar/
sniparenv/
share/
pyvenv.cfg
lib64
**/__pycache__/**
Rplots.pdf
plink1.9/*
.pversion
